asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==4.2.13
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
geographiclib==2.0
geopy==2.4.1
idna==3.7
mysqlclient==2.2.4
PyJWT==2.8.0
python-dotenv==1.0.1
requests==2.32.3
schedule==1.2.2
sqlparse==0.5.0
typing_extensions==4.12.0
urllib3==1.26.7
